* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(112, 185, 161);
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(249, 251, 251);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10%;
  width: 100%;
  background-color: rgb(100, 244, 191);
}

.link {
  color: rgb(7, 7, 7);
  font-size: 1.5em;
  text-decoration: none;
}
